
                                                
               
                      
             <div class="fieldWrapper">
             
 <span class="required">{{ form.username.errors }}</span>
            <label for="id_username">
     <span class="align-field"> Username:</span>
         <span class="required">*</span></label>
                 {{ form.username }} 
                 
                      </div>

             <div class="fieldWrapper">
             
<span class="required">{{ form.password1.errors }}</span>
              <label for="id_password1"> 
 <span class="align-field">Password:</span><span class="required">*
                 </span></label>
                 {{ form.password1 }} 
                 
                    </div>
                    
                    
                     <div class="fieldWrapper">
              
<span class="required align-center">{{ form.full_name.errors }}</span>
             <label for="id_full_name" > 
        <span class="align-field" >Full Name:</span>
         <span class="required">*</span></label>
                {{ form.full_name}} 
                
                      </div>
                    
                   
                          
                             <div class="fieldWrapper paragraph">
	<span class="required">{{ form.birthday.errors }}</span>
                                <label for="id_birthday"> 
   <span class="align-field">Date of Birth:</span><span class="required">*</span></label>
                                {{ form.birthday }} 
                                    </div>

	                   
	                   
	                   <div class="fieldWrapper">
    <span class="required">{{ form.photo.errors }}</span>
		<label for="id_photo"> 
        <span class="align-field">Photo:</span><span class="required">*</span>
                        </label>
               <span class="align-field" > {{ form.photo }}</span>
    			       </div>
    			       
    			       
    			           
                        <div class="fieldWrapper ">
       <span class="required">{{ form.gender.errors }}</span>
		<label for="id_gender"> 
<span class="align-field">Gender:</span><span class="required">*</span></label>
	         <span class="">{{ form.gender }}</span>
	                      </div>
    
    
