

                             <div class="fieldWrapper">
                             {{ form.username.errors }}
                              <label for="id_username"> 
                  <span class="align-field">Username:</span><br/>
                                 {{ form.username }} 
                                        </div>
                                        
                                        
                             <div class="fieldWrapper">
                             {{ form.photo.errors }}
                              <label for="id_photo"> 
                  <span class="align-field">Photo:</span><br/>
                                 {{ form.photo }} 
                                        </div>
                                        
                                        
                             <div class="fieldWrapper">
                               {{ form.bio.errors }}
                              <label for="id_bio"> 
                  <span class="align-field">About me:</span><br/>
                    <span class="align-field">{{ form.bio }}</span>
                                        </div>

            
