                 <div class="fieldWrapper">
    <span class="required">{{ form.email.errors }}</span>
		<label for="id_email"> 
         <span class="align-field">Email:</span></label>
           <span class="align-field">{{ form.email}}</span>
    			</div>
			
    		<div class="fieldWrapper">
       <span class="required">{{ form.photo.errors }}</span>
		<label for="id_photo"> 
           <span class="align-field">Photo:</span></label>
	<span class="align-field">{{ form.photo }}</span>
	           </div>
    			
    				
    			
    	         <div  class="fieldWrapper">
    <span class="required">{{ form.bio.errors }}</span>
		<label for="id_bio"> 
<span class="align-field">About Me:</span></label>
                  
         <span class="align-field">{{ form.bio }}</span>

    			</div>
    			
    			
    			
