

 

             <div class="fieldWrapper">
           <span class="required">
             {{ form.username.errors }}
                 </span>
             <label for="id_username"> 
<span class="align-field">Username:</span><br/>
                {{ form.username }} 
                       </div>

            <div class="fieldWrapper">
            <span class="required">
            {{ form.password.errors }}
             </span>
             <label for="id_password"> 
<span class="align-field">Password:</span><br/>
               {{ form.password }} 
                       </div>



    
 
    


    
    
    

    

   

