                   {% extends "desktop_core.html" %}
                   
                               {% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li ><a href="/home/stream/">Home</a></li>
		<li><a href="/home/popular/">Recommended</a></li>
		<li><a href="/photos/all/">Photos</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                         
                  

                         {% block content %}
                     
                  <div class="wide-section container bottomed">
                  
                  
                  <div class="paragraph topped">
                  
          <img class="profile-Img"  src ="{{user.photo.url}}" />
                   
           <span class="align-right">
           <p>{{user.full_name}} </p>
           <p>{{user.can_write|yesno:"Writer,Standard User"}}</p>
           
           
           </span>
         
           
                   </div>
                   
                  
                      <div class="paragraph align-center">
                      
                   <h1>About me</h1> 
                   
                <p>{{user.bio|safe|linebreaks}}</p>
                
                    
                     
               <p class="tweet">
     <a class="align-center" href="{% url 'edit_profile' user.pk %}"> Edit profile </a>
                   </p>
                       
                   
                   
               
                       
                      
                        {% endblock %}
