              
                <div class="fieldWrapper">
              
<span class="required align-center">{{ form.full_name.errors }}</span>
             <label for="id_full_name" > 
        <span class="align-field" >Full Name:</span>
         <span class="required">*</span></label>
                {{ form.full_name}} 
                
                      </div>
                      
             <div class="fieldWrapper">
             
 <span class="required">{{ form.phone_number.errors }}</span>
            <label for="id_phone_number">
     <span class="align-field"> Phone Number:</span>
         <span class="required">*</span></label>
                 {{ form.phone_number }} 
                 
                      </div>

             <div class="fieldWrapper">
             
<span class="required">{{ form.password1.errors }}</span>
              <label for="id_password1"> 
 <span class="align-field">Password:</span><span class="required">*
                 </span></label>
                 {{ form.password1 }} 
                 
                    </div>
    

              

             <div class="fieldWrapper paragraph">
      <span class="required">{{ form.gender.errors }}</span>
<label for="id_sex" > <span class="align-field" >Gender:</span></label>
          <span class="btn-space">{{ form.gender }}</span>
                        </div>
    

              <div class="fieldWrapper paragraph">
	<span class="required">{{ form.birthday.errors }}</span>
             <label for="id_birthday"> 
      <span class="align-field">Date of Birth:</span>
        <span class="required">*</span></label>
                {{ form.birthday }} 
                      </div>
                      
                      <div class="fieldWrapper">
        <span class="required">{{ form.photo.errors }}</span>
               <label for="id_photo"> 
       <span class="align-field">Photo:</span>
       <span class="required">*</span></label>
               <span class=""> {{ form.photo}}</span> 
                        </div>
                        
                        
                        <div class="fieldWrapper">
        <span class="required">{{ form.bio.errors }}</span>
               <label for="id_bio"> 
       <span class="align-field">Bio:</span></label>
               <span class=""> {{ form.bio}}</span> 
                        </div>
    
    
    
    

    

   

