<!DOCTYPE html>

<html class="no-js" lang="en">

<head> 

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="{{MEDIA_URL}}site_media/favicon.ico">
 
                         <title>Weekly Kenyan</title>
      
                         
    <meta name="description" content="A place where Kenyans write and get creative... ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Kenyan,Kenya,Online News,Kenyan Post">
    
     <!-- google settings -->
 

     
     <!-- bing settings --->
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<!---styles --->
<!--
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
-->



<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/desktop-styles.css">

<!---
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/js/jquery-1.7.2.min.js">
 -->
 
<!---
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/menu.css">
<link rel="stylesheet" href="{{MEDIA_URL}}site_media/css/editor.css">
-->




<!--- end styles --->
</head>

<body>
        
                  {% block header %}
     
		<div id="menu" class="logo">
 			 Weekly Kenyan
   			   </div>
 
                   {% endblock %}
                   
                   
                   {% block nav %}{% endblock %}
   
       
                  


                   {% block content %} {% endblock %}
                   {% block content1 %} {% endblock %}
                   
                   {% block content2 %} {% endblock %}
                   
                   {% block content3 %} {% endblock %}
                   
                   {% block content4 %} {% endblock %}
                   
                   {% block content5 %} {% endblock %}
                   
                   {% block content6 %} {% endblock %}
                   
                   {% block content7 %} {% endblock %}
                   
                   {% block content8 %} {% endblock %}
                   
                   {% block content9 %} {% endblock %}
                   
                   {% block content10 %} {% endblock %}
                   
                       </div>
                         
                   {% block footer %}{% endblock %}
               

{% block js %}
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!--- end comment --->
       
        

               <div class="bottom-footer wide-section">
                  
   
               
               
               
               <p>
              Where Kenyans write and get creative...
               </p> 
       
       <div class="bottom-menu">
 <a class="align-left" href="{% url 'about' %}">About </a>
              {% if user.is_a_writer %}
     <a class="item-two" href="{% url 'create' %}">Write</a>
               {% else %}
     <a class="item-two" href="{% url 'start_writing' %}">How To Become A Writer</a>
               {% endif %}
   <a class="align-right" href="{% url 'faqs' %}">FAQs</a>
      			</div> 
      			
      			
      			<div class="user-options">
      			
      			{% if user.is_authenticated %}
      			<p class="align-center">
 <a href="{% url 'myprofile' %}">{{user.full_name}}</a>  &middot; <a  href="{% url 'logout' %}">Logout</a>
                        </p>
     
                        {% else %}
                        
                        <p class="subscribe-btn">
                 <a class="" href="{% url 'login' %}">Login</a>
                 </p>
      			{% endif %}
      			
      			{% if user.can_edit %}
      	                 <p class="subscribe-btn">
               <a  href="{% url 'unpublished' %}">Review Unpublished Articles</a>
                 </p>
      			{% endif %}
      			
      			</div>
      			
      			
      			
      			<div class="">
                Our collective consciousness 
                     </div>
          
  
  <p><span class="copyrights paragraph distanced">
 &copy; Weekly Kenya. All rights reserved 2014-{% now "Y" %}
  </p>
  
            <div class="back align-center">
       <a  href="#menu"> back to top </a><br/>
          </div>
  
  

                         {% endblock %}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

    </body>
       
</html>
