              
              
                               
                               
                               
                              
                              
                            {% for post in article %}  
                            
                            <p> {{post.section.name}}</p>
                               <p> {{post.title}}</p>  
                            
                             {% endfor %}    
              
                              
        
