                 <div class="fieldWrapper">
       <span class="required">{{ form.main_photo.errors }}</span>
		<label for="id_main_photo"> 
     <span class="align-field">Photo:</span></label>
	<span class="align-field">{{ form.main_photo }}</span>
    			</div>

    		<div class="fieldWrapper">
    <span class="required">{{ form.caption.errors }}</span>
		<label for="id_caption"> 
     <span class="align-field">Caption:</span></label>
        	 {{ form.caption }} 
    			</div>
    			
    			
    			<div class="fieldWrapper">
    <span class="required">{{ form.post.errors }}</span>
		<label for="id_post"> 
<span class="align-field">What's the story?</span></label>
        	 {{ form.post}} 
    			</div>
    			
    			
    	         
