                    {% extends "mobile_core.html" %}
                         {% load comments %}
                      {% load url from future %} 
                     
                         {% block menu %}
                    
		      <div class='top-menu'>
        <a class="align-left" href="/home/stream/">Home</a>
           <a class="next" href="/home/popular/">Recommended</a>
           <a class="align-right current" href="/photos/all/">Photos</a>
		      </div>
		          {% endblock %}



                             {% block content %}
                
                         <div class="container">
                   
                       
                        <div class="image spaced">
                 <img class="main-Img"  src ="{{photo.main_photo.url}}" />
                 </div>
                 
                       <div class="simple-title">
                       {{photo.title|safe|title}}
                                 </span>
                                </h2>
                               </div>
                               
                               
                    <div class="paragraph">{{photo.post|safe|linebreaks}}</div>
                        
                        <div class="tweet">
 <a class=" align-center" href="https://twitter.com/share" data-related="twitterdev"  data-count="none" >Share This On Twitter</a>
                        </div>
                        
                        <div class="article-author">
                  
          <img class="content-Img"  src ="{{photo.author.photo.url}}" />
                   
           <span class="align-right">
           <p>Posted by: {{photo.author.full_name}} </p>
           </span>
                   </div>
                        
                      <div class="title"> 
                {% get_comment_count  for photo as comment_count %}
{{comment_count}} Comment{{comment_count|pluralize}}  
                      </div>
                      
               
                   
              
                         {% if user.is_authenticated %}
                    {% get_comment_form  for photo as form %}
               
                      {% include "p_comment_form.html" %}
                      
                       {% include "pm_comment_list.html" %}
                      
                               {% else %}
                               <p class="author">
           <a href="{% url 'login' %}">Please login to post a comment</a>
                               </p>
                               
                               {% endif %}
                     
                           {% endblock %}
                           
                           
                           
                           
                           
