                          {% extends 'desktop_core.html' %}
                              {% load thumbnail %}
                              {% load comments %}
                              {% load core_tags %}
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/home/stream/">Home</a></li>
		<li><a href="/home/popular/">Recommended</a></li>
		<li class="current"><a href="/photos/all/">Photos</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                   		
                   	      {% block content %}
                  <div class="wide-section spaced">
                  
                     
                       
                       {% if messages %}
                  {% for message in messages %}
      <div class="message  {% if message.tags %} message_{{ message.tags }}{% else %}message_info{% endif %}">
   <span class="msg-text global_styles">{{ message }}</span>
      </div>
                        {% endfor %}
                         {% endif %}

                   <div class="g">
  
       <form   action="." method="post" enctype="multipart/form-data" >{% csrf_token %}

                  {{form.non_field_errors }}

                        <fieldset>

                {% include "m_base_form.html" %}

             <input class="button"  type="Submit"/>

                        </fieldset>
                      </form>
                      </div>
                    </div>
                   	        {% endblock %}
                   	        
                   	        
                   	       
