                           {% extends 'desktop_core.html' %}
                                {% load comments %}
                          	{% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/home/stream/">Home</a></li>
		<li><a href="/home/popular/">Recommended</a></li>
		<li class="current"><a href="/photos/all/">Photos</a></li>
	
	
      		</ul>
   	    </div>
                   		{% endblock %}
                   		
                   		
                   	       {% block content %}
                   	       
                   	    <div class="wide-section">
                   	    
                   	     <div class="styled"> 
               <a  href="{% url 'post_photo' %}"> Upload A Photo </a>
               </div>
                   	       
                   	     {% if photo_list %}
                 
                         
                         {% for photo in photo_list %}
                    
  
                           <div class="paragraph">
                
                              
        <img class="photo-Img align-left"   src ="{{photo.main_photo.url}}" />
                        
              <p>         
<a class="article-title" href="{% url 'photo' photo.slug  %}">{{photo.caption|safe|title }}
</a> 
              </p>
              
              
                       <p class="micro-copy">
 
 <span class="">Posted by <b>{{photo.author.full_name|safe}}</b></span> 
  
               <span class="align-right">
{{photo.pub_date|timesince}} ago |{% get_comment_count  for photo as comment_count %}
{{comment_count}} comment{{comment_count|pluralize}}
               </span>
                            </p>
                            
                                
                            
                              
                       <p class="more-spaced">  
             {{photo.post|safe|linebreaks|truncatechars:140}}
                        </p> 
                        
                        
                      
                              </div>
                          {% endfor %}
                         
       
                            {% endif %}

                         <div class="styled"> 
               <a  href="{% url 'post_photo' %}"> Upload A Photo </a>
               </div>
     
                                  
                            {% endblock %} 
                   		
