                  {% extends "desktop_core.html" %}
                    {% load url from future %} 

                               {% block nav %}
               		   <div class="nav center">
               
       		<ul>
	
		<li><a href="/home/stream/">Home</a></li>
		<li><a href="/home/popular/">Recommended</a></li>
		<li><a href="/photos/all/">Photos</a></li>
	
	
      		</ul>
   	</div>
                   		{% endblock %}

                           {% block content %}
                           
                        {% if styleguide_list %}
                           
                  
                  {% for styleguide in styleguide_list %}
                   <div class="wide-section spaced">
                   
                     <div class="image">     
            <img class="main-Img"  src ="{{styleguide.image.url}}" /><br/>
            
              <h2>
           <div class="overlay-title"> {{styleguide.title|title|safe}} </div>
              </h2>
                 </div>
           
     
           
         
                    <div class="paragraph">
                    {{styleguide.post|safe|linebreaks}}
                     </div>
                     
                         {% if user.is_authenticated %}
                         <p class="subscribe-btn">
               <a class="align-center"  href="{% url 'create' %}">Post An Article</a>
                 </p>
      			    {% endif %}
             
                
                            {% endfor %}
       
                              </div>
                             {% else %}
      <div class="regular-section common distanced">
      
                          No content to load
       </div>
 
      {% endif %}
      
      
 
     
     </div>
               
                            {% endblock %} 
